@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';

@theme {
  --animate-spin: spin 10s linear infinite;

  /* Fonts */
  --font-montserrat: Montserrat, sans-serif;
  --font-roboto-mono: Roboto Mono, monospace;
  --font-dm-sans: DM Sans, sans-serif;

  /* Colors */
  --color-white: oklch(1 0 0); /* pure white */
  --color-black: oklch(0 0 0);
  --color-red-600: oklch(0.63 0.26 25);
  --color-red-700: oklch(0.55 0.25 25);
  --color-gray-200: oklch(0.92 0 0);
}

/* Compatibility Layer for Tailwind v3 border defaults */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-dm-sans);
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
